.button-group {
  display: flex; /* Use flexbox to align items in a row */
  justify-content: space-between; /* Distribute space between the buttons */
  flex-wrap: nowrap; /* Prevent wrapping of items to the next line */
}

.button-group .button {
  padding: 10px 9px; 
  font-size: 1rem; 
  font-weight: bold; 
  color: white; 
  background-color: #ff0000ad; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  flex: 0 1 auto; 
}

/* Optional: Add responsiveness to buttons */
@media (max-width: 500px) {
  .button-group .button {
    padding: 8px 20px;
    font-size: 0.9rem;
  }
  .button-group {
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on small screens */
  }
}


/*designdetails*/

.design-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design-image {
  max-width: 100%;
  height: auto;
}

.design-info {
  /* Styles for your design information */
}


/*------------------*/

.card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
  height: auto;
  max-height: 550px; 
  overflow: hidden; 
  width: 20%;
}

.card__title {
  align-items: center;
  padding: 30px 40px;
}

.card__title h3 {
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.card__title .icon {

  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}

.card__title .icon > a {
  color: #fff;
}

.card__title .icon:hover {
  background: #252525;
}

.card__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 25px;
}


.featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #181e28;
}

.featured_text p {
  margin: 0;
  padding: 0;
}

.featured_text p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #686e77;
  font-weight: 300;
  margin-bottom: 5px;
}

.featured_text p.price {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}

.image {
  padding-top: 15px;
  width: 50%;
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description {
  margin-bottom: 25px;
}

.description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}

.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}

.reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.reviews .stars > li {
  display: inline-block;
}

.reviews .stars .fa {
  color: #f7c01b;
}

.reviews > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}

.card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}


.recommend {
  flex: 1 0 10px;
}

.recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}

.action button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.action button:hover {
  background: #fff;
  color: #115dd8;
}



/* Exploredesigns.css */

.interior-design {
  max-width: 1600px;
  margin: 20px auto;
  padding-left: 80px; 
}
.interior-design h1 {
  color: rgb(52, 51, 51); 
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 2px;
}

.interior-design p {
  text-align: justify;
  font-family: 'serif'; 
  font-size:  1.2em; 
  line-height:  1.5; 
  color: #333; 
}


.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.m-2 {
  margin: 10px; /* Adjust margin as needed */
}

.product-link {
  text-decoration: none;
  color: #010101; /* Adjust color as needed */
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  transition: transform 0.3s ease-in-out;
 
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: auto;
  height: 100%;
  object-fit: cover; /* Ensure the image fills the entire space */
}

h1 {
  color: rgb(18, 17, 17); /* Adjust color as needed */
}

.image-gallery img {
  width: auto;
  margin: 0;
}
