/* AdminMenu.css */

.admin-menu {
  background-color: #000000d7; /* Dark blue background color */
  color: #fff;
  width: 270px; /* Width of the sidebar */
  height: 100vh; /* Full height */
  position: fixed; /* Fixed sidebar */
  transform: translateX(0); /* Start with sidebar visible */
  transition: transform 0.3s ease-in-out; /* Smooth opening and closing */
  z-index: 1000; /* Ensure the sidebar is above other content */
}

.admin-menu.toggled {
  transform: translateX(-250px); /* Hide sidebar */
}

.sidebar-content {
  padding-top: 20px; /* Space for the toggle button */
}

.toggle-button {
  cursor: pointer;
  color: #fff;
  position: absolute; /* Position absolutely within the sidebar */
  top: 10px; /* Align top */
  right: -50px; /* Align to the right outside the sidebar */
  background-color: #0dcaa4; /* Background of the toggle button */
  width: 50px; /* Width of the toggle button */
  height: 50px; /* Height of the toggle button */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px; /* Rounded corners for the button */
  border-bottom-right-radius: 10px; /* Rounded corners for the button */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.menu-item:hover, .menu-item.active {
  background-color: #be06f143; /* Darker background color on hover/active */
}

.menu-item .icon {
  margin-right: 10px; /* Space between icon and text */
}

/* Styling for active NavLink */
.active {
  background-color: #1ABC9C; /* Color for active state */
}

/* Ensure FontAwesome is included */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

