/* Nav.css */

.nav-container {
    margin-top: 20px;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-item {
    padding: 10px;
    margin-right: 10px; /* Add margin between category items */
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .category-item:hover {
    background-color: #f0f0f0;
  }
  
  .category-item.selected {
    background-color: #2196f3;
    color: #fff;
  }
  
  .subcategory-list {
    display: flex;
    flex-direction: column;
  }
  
  .subcategory-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .subcategory-item:hover {
    background-color: #f0f0f0;
  }
  
  .subcategory-item.selected {
    background-color: #2196f3;
    color: #fff;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .item {
    padding: 10px;
    width: calc(33.33% - 10px);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .item:hover {
    background-color: #f0f0f0;
  }
  .custom-popover {
    position: fixed !important;
  }
  