/* Add this to your CartStyles.css file or include it in your component's inline styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px; /* Adjust the margin-top as needed */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}



.cart-summary {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px; /* Adjust the max-width as needed */
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.cart-item-image {
  max-width: 80px;
  max-height: 80px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.total-price {
  margin-top: 20px;
}

.checkout-button {
  margin-top: 20px;
}

/* Add other styles as needed */
.cart-container {
  display: flex;
  max-height: 6000px; /* Set your desired maximum height */
  overflow-y: auto; /* Add a scrollbar if the content overflows */
  margin-bottom: 20px; 
  justify-content: center;
  align-items: center;/* Adjust as needed */
}